ChatBot__Template.json
{
  "name": "ChatBot",
  "nodes": [
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.data.message.base64",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "={{ $json.body.data.message.audioMessage.mimetype }}"
        }
      },
      "id": "d8f37dca-e560-410f-8573-d569ecd044f4",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1640,
        1120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7066ff08-1370-464f-a588-86aa37025523",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "61a9cd84-5688-482b-b4d3-5251e995bb5c",
      "name": "edit1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2100,
        1120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09db48f1-b99e-4760-8a9b-10944a1ce0d2",
              "name": "texto",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c28cb772-e5e5-4af0-85e4-e776af5fab7f",
      "name": "edit2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        1400
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "5501bff1-7ca9-47ae-81ba-aa9b88f22197",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1860,
        1120
      ],
      "credentials": {
        "openAiApi": {
          "id": "p5If24WSrKFNcxcq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50c6e2b0-2494-4780-abd8-84a0e4213091",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {}
      },
      "id": "e3786a21-f6ee-432a-ba3e-1d82823d4961",
      "name": "mensagem_tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1400,
        1300
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "id": "7d8fa75f-32e8-4791-91e4-bdd0be23e820",
      "name": "mensagem_cliente",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2320,
        1280
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "304fe7a6-c261-4942-b4e0-422ab5d18a23",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2500,
        1460
      ],
      "credentials": {
        "openAiApi": {
          "id": "p5If24WSrKFNcxcq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=",
        "contextWindowLength": 20
      },
      "id": "07c60154-8d81-4afa-b64e-193e02b2cd1c",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        2660,
        1480
      ],
      "credentials": {
        "redis": {
          "id": "DcZvSilR0TOevySg",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "teste1",
        "remoteJid": "5561982101216",
        "messageText": "text",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2940,
        1280
      ],
      "id": "a0b1cd7b-794a-4a4e-a5fb-4c4063c40181",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "k9N9ocaiVDoSEkgv",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Instruções para Atendimento:\n\nSaudação Inicial:\n\n\"Olá, seja muito bem-vindo à VivaBem Imóveis! Meu nome é CintIA e estou aqui para ajudar. Em que posso te auxiliar hoje?\"\n\nIdentificar a Necessidade do Cliente:\n\nCompra, aluguel ou venda?\n\nTipo de imóvel? (Apartamento, casa, sala comercial...)\n\nFaixa de preço desejada\n\nLocalização preferida\n\nApresentar Modelos Disponíveis:\n\nUtilizar o arquivo ou sistema com os modelos descritos abaixo\n\nEncaminhamento:\n\nAgendar visita ou encaminhar para corretor especializado\n\nDespedida Cordial:\n\n\"Agradecemos o seu contato! Qualquer coisa, estamos à disposição.\"\n\nModelos de Apartamentos\n\n1. Residencial Bella VistaLocalização: CentroTamanho: 80 m²Quartos: 2 (1 suíte)Vaga: 1 garagemValor: R$ 350.000,00 (Venda) ou R$ 2.200,00/mês (Aluguel)\n\n2. Condomínio Morada do SolLocalização: Bairro Jardim FloridoTamanho: 95 m²Quartos: 3 (1 suíte)Vaga: 2 garagensValor: R$ 480.000,00 (Venda)\n\n3. Loft Nova EraLocalização: Região Central EmpresarialTamanho: 60 m²Quarto: 1 (estilo loft)Vaga: 1 garagemValor: R$ 1.800,00/mês (Aluguel)\n\n4. Edifício Vista ParqueLocalização: Prox. ao Parque das ÁguasTamanho: 110 m²Quartos: 3 (1 suíte + 1 dependência)Vaga: 2 garagensValor: R$ 3.200,00/mês (Aluguel)"
        }
      },
      "id": "d1bf8470-db5c-43f6-8103-322d8f6824ea",
      "name": "Agente wpp",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2600,
        1280
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6882e04c-92e2-4277-89f0-fea71ca230a6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1000,
        1300
      ],
      "id": "6d75cae0-3ac9-43b8-8587-47e4ec7da13f",
      "name": "Webhook",
      "webhookId": "6882e04c-92e2-4277-89f0-fea71ca230a6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17b6fa1c-f4ea-4c75-9c9e-1a43900dbc58",
              "leftValue": "={{ $json.body.apikey }}",
              "rightValue": "3FE8AFBDF281-4365-973F-F55A813DF487",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "70c82c3b-7619-4b50-899f-17931323d19d",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6179f7f6-5bdc-4ea0-80e8-7648db6504b8",
      "name": "auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        1300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit1": {
      "main": [
        [
          {
            "node": "mensagem_cliente",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "edit2": {
      "main": [
        [
          {
            "node": "mensagem_cliente",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "edit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_tipo": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "edit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente wpp",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente wpp",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_cliente": {
      "main": [
        [
          {
            "node": "Agente wpp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente wpp": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "auth": {
      "main": [
        [
          {
            "node": "mensagem_tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem_tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0042a212-5af2-42d0-be54-bd7ec3c5ab3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "245151b650570b841e2fa163a0bca80ab8e971021a4211fce29ba3b8f2fceb9b"
  },
  "id": "OGbrSbKldcSKTfDX",
  "tags": []
}
